# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output (Vite)
dist/
client/dist/
client/.vite/

# Build output (Express)
server/build/
server/dist/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary
.temp/
.cache/
